@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body {
  background-color:hsl(0, 0%, 94%);
  font-family: "Poppins", sans-serif;
}

.container {
  background-color:hsl(0, 0%, 100%);
  max-width:60rem;
  height:42rem;
  margin:6rem auto;
  border-radius:2rem 2rem 10rem 2rem;
}

.results {
  padding-left:3rem;
  position:relative;
  bottom:80px;
}

.inputs {
  display:flex;
  gap:20px;
  padding:3rem;
}

.submitButton {
  display:flex;
  justify-content:flex-end;
  position:relative;
  margin-right:3rem;
  bottom:50px;
  z-index:1;
}

button {
  border-radius:50%;
  border:none;
  background-color:hsl(259, 100%, 65%);
  width:6rem;
  height:6rem;
}

button:hover {
  cursor:pointer;
  background-color:hsl(0, 0%, 8%);
}

.inputBox {
  border-radius:10px;
  border:1px solid hsl(0, 0%, 86%);
  max-width:12rem;
  height:5.5rem;
  font-size:2rem;
  font-family: "Poppins", sans-serif;
  font-weight:700;
  color:hsl(0, 0%, 8%);
  padding:12px 20px;
}

.inputBox:focus {
  outline:none;
  border:1px solid hsl(259, 100%, 65%);
}

.inputText {
  color: hsl(0, 1%, 44%);
  text-transform:uppercase;
  letter-spacing:5px;
  margin-bottom:10px;
  font-weight:800;
}

.inputText::placeholder {
  color: hsl(0, 1%, 44%);
}

.divider {
  margin:0 4rem;
  height:3px;
  background-color:hsl(0, 0%, 94%);
  border:none;
  position:relative;
  bottom:100px;
}

h2 {
  font-size:5.8rem;
  font-weight:800;
  font-style:italic;
}

strong {
  color:hsl(259, 100%, 65%);
}

.errorText {
  color:hsl(0, 100%, 67%);
  font-style:italic;
}

.errorBox {
  border-color: hsl(0, 100%, 67%);
}

@media(max-width:720px) {
  .container {
    height:28rem;
    margin:3rem 1rem;
  }
  h2 {
    font-size:3.2rem;
  }

  .inputs {
    padding:1rem;
  }

  .inputBox {
    height:4rem;
    max-width:5.7rem;
    font-size:0.8rem;
  }

  .divider {
    bottom:40px;
  }
  
  .submitButton {
    justify-content:center;
    left:10px;
    top:0.1px;
  }

  button {
    width:5rem;
    height:5rem;
  }
}
